*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: 
    space-between;
    align-items: flex-start;
}

.item{
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    flex-grow: 100;
}

.item-1 {
}

.item-2 {
}

.item-3 {
}

.item-4 {
}

.item-5 {
    flex-basis: 75%;
}